@page
@model RastonRealm.Pages.MarketPlaceModel
@{
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/livecanvas-team/ninjabootstrap/dist/css/bootstrap.min.css" media="all">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top"
         style="background-color: #000; color: #fff">
        <div class="container">
            <a class="navbar-brand" href="#"> RASTON REALM </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="ClientDashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="MarketPlace">Marketplace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ClientInbox">Inbox</a>
                    </li>
                    <!-- Logout button with icon -->
                    <li class="nav-item">
                        <a class="nav-link" href="Index">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-box-arrow-right"
                                 viewBox="0 0 16 16">
                                <path d="M13.5 1a.5.5 0 0 1 .5.5V15a.5.5 0 0 1-1 0V1.5a.5.5 0 0 1 .5-.5z" />
                                <path d="M12.854 2.646a.5.5 0 0 1 0 .708L10.207 6H15a.5.5 0 0 1 0 1H10.207l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
                                <path d="M2.5 6a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                                <path d="M8 2.5a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-1 0v-10a.5.5 0 0 1 .5-.5z" />
                            </svg>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- Page Heading -->
        <h1 class="my-4">Scheduled Tours</h1>


        <br />
        <br />

        @foreach (var tour in Model.Tours)
        {
            <div class="row">
                <div class="col-md-7">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="@Url.Content(tour.TourPhoto)" alt="@tour.TourName" />

                </div>
                <div class="col-md-5">
                    <h3>Tour Name: @tour.TourName</h3>
                    <h6>Tour Area: @tour.TourArea</h6>
                    <h6>Tour Date: @tour.TourDate.ToShortDateString()</h6>
                    <h6>Remaining Seats: @(tour.TourSeats - tour.FilledSeats)</h6>
                    <h6>Tour Price: @tour.TourPrice</h6>
                    <p>@tour.TourDescription</p>
                    <a class="btn btn-primary" href="CheckOut?TourID=@tour.TourID.ToString()">Book Tour</a>
                </div>
            </div>
            <hr />
        }
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Raston-Realm</small>
        </div>
    </footer>

</body>